/* Gaya umum */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  /* Gaya tombol */
  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  button:focus {
    background-color: #367c39;
  }